<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <title>{title}</title>
    <style type="text/css">
      p {{
        text-indent: 1.5em;
        margin-bottom: 0; 
      }}
      p + p {{
        text-indent: 1.5em;
        margin-top: 0;
      }}
      
      .not_outline {{
        -pdf-outline: false;
      }}
      
      .break {{
        page-break-before: always;
      }}
      
      h1 {{
        text-align: center;
        margin: 2em;
      }}
      
      h3 {{
        text-align: center;
      }}
    </style>
  </head>
  <body>
    {body}
  </body>
</html>
